<div class="pageTitle">
    <h1>Questions</h1>
</div>

<div class="toolbar">
      <div class="leftItem backButton">
        <a href="<%= Rho::RhoConfig.start_path %>">Back</a>
      </div>
</div>

<div class="content">
    <ul>
        <% @questions.each do |question| %>

            <li>
                <a href="<%= url_for :action => :show, :id => question.object %>">
                    <span class="title"><%= question.title %></span><span class="disclosure_indicator"></span>
                </a>
            </li>

        <% end %>
    </ul>
</div>
