<div class="pageTitle">
	<h1><%= @question.title %></h1>
</div>

<div class="toolbar">
	<div id="leftItem" class="leftItem backButton"><%= link_to "Back", :action => :index %></div>
</div>

<div class="content">
	Screenrotation registered.
</div>
